[Unit]
Description=VIM Markdown Preview HTTP server

[Service]
Environment=PORT=13337
ExecStart=/usr/local/bin/mdpreviewd
TimeoutSec=3

[Install]
WantedBy=default.target
