[Unit]
Description=VIM Markdown Preview HTTP server

[Service]
# ~/.mpreviewdrc must contain PORT=, PYTHONPATH=/path/to/vim-mpreview and
# PATH="${PATH}:/path/to/vim-mpreview/bin".
EnvironmentFile=%h/.mdpreviewrc
ExecStart=%h/.local/bin/mdpreviewd
TimeoutSec=3

[Install]
WantedBy=default.target
